@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply blur to the color squares initially */
.blur-effect {
  filter: blur(1px);
  transition: filter 0.3s ease;
}

/* Remove the blur on hover */
.blur-effect:hover {
  filter: none;
}

/* Add text shadow to improve text visibility */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 10px;
}